force-app/main/default/flows/BAT_createHolidaysInBusinessHours.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description
    >Retrieve the public holidays for current year and salesforce orgs country.</description>
        <name>GET_public_holiday</name>
        <label>GET public holiday</label>
        <locationX>182</locationX>
        <locationY>516</locationY>
        <actionName
    >GlobalHolidayAPI.PublicHolidayV3PublicHolidaysV3</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>DEC_successfullCallout</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>countryCode</name>
            <value>
                <elementReference>form_countryCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>year</name>
            <value>
                <elementReference>form_currentYear</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>apexDef_arrayOfHolidays</assignToReference>
            <name>200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>var_statusCode</assignToReference>
            <name>responseCode</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description
    >Set the holiday information to the correct fields on standard object &quot;Holiday&quot;</description>
        <name>SET_holiday_info</name>
        <label>SET holiday info</label>
        <locationX>138</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>sObj_currentHoliday.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >LOOP_eachHolidayInHolidays.localName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >sObj_currentHoliday.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >LOOP_eachHolidayInHolidays.z0date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
      >STORE_holidayRecordToHolidayCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description
    >Store the assignment of holiday record to a collection of holiday records.</description>
        <name>STORE_holidayRecordToHolidayCollection</name>
        <label>STORE holiday record to holiday collection</label>
        <locationX>138</locationX>
        <locationY>996</locationY>
        <assignmentItems>
            <assignToReference>sObj_coll_HolidayRecToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sObj_currentHoliday</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_eachHolidayInHolidays</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description
    >Check if the returned results from getting business hours returned any results.</description>
        <name>DEC_activeBusinessHour</name>
        <label>Returned active business hour config?</label>
        <locationX>380</locationX>
        <locationY>396</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DEC_activeBusinessHour_TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >GET_ActiveOrganizationBusinessHours</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_public_holiday</targetReference>
            </connector>
            <label>Found records</label>
        </rules>
    </decisions>
    <decisions>
        <description
    >Decide if the response of &quot;Get public holidays&quot; was successful</description>
        <name>DEC_successfullCallout</name>
        <label>Is succesfull callout?</label>
        <locationX>182</locationX>
        <locationY>636</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DEC_successfullCallout_TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_statusCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>200</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOOP_eachHolidayInHolidays</targetReference>
            </connector>
            <label>Yes - callout successfull</label>
        </rules>
    </decisions>
    <description
  >A scheduled flow that will automatically create holidays under the current active &quot;Organization business hour&quot; config for your org.
The flow uses the running users country to determine witch public holidays to get and the current dates year. 

API Action Documentation: https://date.nager.at/swagger/index.html
Flow naming convention: https://wiki.sfxd.org/books/best-practices/page/flow-naming-conventions

Created By: Erlend Hansen @www.linkedin.com/in/hansenerlend || https://trailblazer.me/id/ehansen7</description>
    <formulas>
        <description
    >Get the current country code from the running users LocaleSideKey</description>
        <name>form_countryCode</name>
        <dataType>String</dataType>
        <expression>RIGHT(TEXT({!$User.LocaleSidKey}), 2)</expression>
    </formulas>
    <formulas>
        <description
    >Formula to get the year of current date of running the flow</description>
        <name>form_currentYear</name>
        <dataType>Number</dataType>
        <expression>YEAR({!$Flow.CurrentDate})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel
  >Schedule creation of Business Hour Holidays {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Schedule creation of Business Hour Holidays</label>
    <loops>
        <description>Loop over each holiday in array of holidays</description>
        <name>LOOP_eachHolidayInHolidays</name>
        <label>For each holiday in response</label>
        <locationX>50</locationX>
        <locationY>756</locationY>
        <collectionReference>apexDef_arrayOfHolidays</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SET_holiday_info</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CREATE_holidaysInBusinessHours</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description
    >Create the stored holidays under the active &quot;Organization Business Hours&quot; configuration</description>
        <name>CREATE_holidaysInBusinessHours</name>
        <label>CREATE holidays in business hours</label>
        <locationX>50</locationX>
        <locationY>1212</locationY>
        <inputReference>sObj_coll_HolidayRecToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get the orgs active business hour record</description>
        <name>GET_ActiveOrganizationBusinessHours</name>
        <label>GET Active Organization Business Hours</label>
        <locationX>380</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_activeBusinessHour</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BusinessHours</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference
      >GET_ActiveOrganizationBusinessHours</targetReference>
        </connector>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2022-04-05</startDate>
            <startTime>03:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <description>Store the API response and all the holidays in an array. 
Documentation: https://date.nager.at/swagger/index.html</description>
        <name>apexDef_arrayOfHolidays</name>
        <apexClass
    >ExternalService__GlobalHolidayAPI_PublicHolidayV3Dto</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description
    >Holds the collection of holiday records that are going to be created at the end of the flow</description>
        <name>sObj_coll_HolidayRecToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Holiday</objectType>
    </variables>
    <variables>
        <description>Current holiday in loop of holidays</description>
        <name>sObj_currentHoliday</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Holiday</objectType>
    </variables>
    <variables>
        <description
    >Store status code for callout to get Public holidays</description>
        <name>var_statusCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
